### Logs
*.log

### IntelliJ
.idea/
.idea_modules/
/importer-pipeline.iml
/out/

### Linux metadata
.~lock.*

### Scala
*.class
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet

### Spark
/spark-warehouse/

### WIP
/local-files/

### To0 big
/websocket-server/src/main/resources/EURUSD.txt
